opencv-python-headless==4.6.0.66 -i https://www.piwheels.org/simple
SpeechRecognition==3.10.1 -i https://www.piwheels.org/simple
soundfile==0.12.1 -i https://www.piwheels.org/simple
picamera
# openai-whisper
pillow==10.2.0
aioconsole==0.7.0 -i https://www.piwheels.org/simple
pyaudio==0.2.14 -i https://www.piwheels.org/simple
vosk==0.3.45
numpy -i https://www.piwheels.org/simple